{% extends '::base.html.twig' %}

		
{% block contain %}
	<div class="row">
		
		<section class="col-xs-10">
		{% block content %}
		
		{% endblock content %}
		</section>
		
		<aside class="col-xs-2">
		{% block sidebar %}
		
		{% endblock sidebar %}
		</aside>
		
	</div> <!-- .row -->
{% endblock contain %}
		