{% extends '::base.html.twig' %}

		
{% block contain %}
	<div class="row">
		
		<section class="col-xs-12">
		{% block content %}
		
		{% endblock content %}
		</section>
		
	</div> <!-- .row -->
{% endblock contain %}
